# Node.js / Next.js / React
node_modules/
.next/
dist/
out/
.env*
*.log
*.zip
pnpm-lock.yaml
package-lock.json

# Java / Maven
backend/target/
*.class
*.iml
.classpath
.project
.settings/

# VS Code / JetBrains / IDE
.vscode/
.idea/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Misc
uploads/

# Ignore build artifacts
frontend/.next/
frontend/node_modules/
frontend/dist/
frontend/out/
frontend/.env*
frontend/*.log
frontend/*.zip
backend/target/

wheelsonrent.dump